<div *ngIf="countries.length===0; else taula" class="alert alert-warning text-center">

    No hi ha països.    
</div>

<ng-template #taula>

    <table class="table table-striped table-hover">
        <thead>
            <th>#</th>   
            <th>Bandera</th>
            <th>Nom</th>
            <th class="text-end">Població</th> 
            <th>Acció</th>        
        </thead>

        <tbody>
            <tr *ngFor="let country of countries; let i = index" 
                >
                <td> {{i + 1 }}</td>
                <td> {{ country.flag }}</td>
                <td> {{ country.name.common }}</td>
                <td class="text-end"> {{ country.population | number }}</td>
                <td>Veure més</td>
            </tr>

        </tbody>

    </table>

</ng-template>